spring:
  datasource:
    url: jdbc:postgresql://db:5432/siccdb
    username: sicc
    password: sicc

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: false
