spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/siccdb
    username: sicc
    password: sicc
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    cl:
      sicc: DEBUG
